.activities {
    &__list {
        display: flex;
        gap: 30px;
    }

    &__item {
        position: relative;
    }

    &__text {
        position: absolute;
        background: rgba(47, 48, 58, 0.8);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding-top: 27px;
        padding-bottom: 27px;
        top: 224px;
    }

    &__description {
        font-size: 14px;
        font-weight: 700;
        line-height: 1.14;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--brand-color-white);
        align-content: center;
    }
}
