.clients {
    &__header {
        margin-bottom: 0;
    }
    &__list {
        display: flex;
        justify-content: center;
        gap: 30px;
        padding-top: 50px;
    }

    &__item {
        width: 170px;
        height: 92px;
        border: 1px solid var(--brand-color-gray3);
        display: flex;
        justify-content: center;
        align-content: center;
        border-radius: 4px;
        cursor: pointer;
        align-items: center;
        transition-property: border-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__item:is(:hover, :focus) {
        border-color: var(--brand-color-blue);
        outline: none;
    }

    &__icon {
        fill: var(--brand-color-gray3);
        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__item:is(:hover, :focus) &__icon {
        fill: var(--brand-color-blue);
    }
}
