.description {
    background-color: var(--brand-color-white);
    margin-bottom: -94px;

    &__list {
        display: flex;
        gap: 30px;
    }

    &__icon {
        width: 270px;
        height: 120px;
        background-color: var(--brand-color-gray);
        align-items: center;
        display: flex;
        justify-content: center;
        border-radius: 4px;
    }

    &__name {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-bottom: 10px;
        margin-top: 30px;
    }

    &__text {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--brand-color-gray2);
    }
}
