.footer {
    background-color: var(--brand-color-dark);
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    align-content: center;

    &__wrapper {
        display: flex;
        align-content: center;
        gap: 70px;
    }

    &__address {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--brand-color-white);
    }

    &__address-city {
        margin-top: 20px;
    }

    &__address-email {
        margin-top: 9px;
        margin-bottom: 9px;
    }

    &__address-link {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
        text-decoration: none;
    }

    &__join-main {
        width: 206px;
        height: 80px;
    }
    &__join-us {
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--brand-color-white);
        margin-bottom: 20px;
        margin-top: 12px;
    }

    &__social-media {
        display: flex;
        gap: 10px;
    }

    &__newsletter {
        position: relative;

        padding-left: 8px;
        display: flex;
        flex-direction: column;
    }
    &__email-input {
        background: none;
        width: 358px;
        height: 50px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        padding-left: 18px;
        padding-top: 15px;
        padding-bottom: 15px;
        color: var(--brand-color-white);
        font-weight: 400;
        font-style: normal;
        letter-spacing: 0.06em;
    }
    &__email-input::placeholder {
        color: rgba(255, 255, 255, 0.6);
    }
    &__button-submit {
        width: 200px;
        height: 50px;
        background: var(--brand-color-blue);
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        color: var(--brand-color-white);
        font-size: 16px;
        line-height: 1.88;
        border: none;
        text-align: center;
        letter-spacing: 0.06em;
        position: absolute;
        left: 378px;
        top: 48px;
    }
}
