.form {
    &__personal-info {
        width: 448px;
        margin-left: 40px;
        margin-right: 40px;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    &__label {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17px;
        letter-spacing: 0.01em;
        color: var(--brand-color-gray2);
        margin-bottom: 9px;
        position: relative;
    }

    &__input-svg {
        position: relative;
        margin-bottom: 19px;
    }

    &__input-svg:is(:active, :focus-within) {
        fill: var(--brand-color-blue);
        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        outline: none;
    }

    &__icon {
        outline: none;
        position: absolute;
        z-index: -1;
        top: 50%;
        transform: translateY(-50%);
        left: 2.8%;
    }

    &__icon:is(:hover, :focus, :active) {
        fill: var(--brand-color-blue);
        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        outline: none;
    }

    &__input-area {
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        box-sizing: border-box;
        width: 448px;
        height: 40px;
        padding-left: 42px;
        padding-top: 12px;
        padding-bottom: 12px;
        background-color: transparent;
    }

    &__input-area:is(:focus, :active) {
        border: 1px solid var(--brand-color-blue);
        fill: var(--brand-color-blue);
        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        outline: none;
    }

    &__comment {
        box-sizing: border-box;
        width: 448px;
        height: 120px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        padding: 12px 16px;
        resize: none;
    }

    &__comment:is(:focus, :active) {
        border: 1px solid var(--brand-color-blue);
        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        outline: none;
    }

    &__policy {
        flex-direction: row;
        margin-top: 11px;
        position: relative;
        justify-content: center;
        align-content: center;
        display: flex;
        gap: 7px;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
        color: var(--brand-color-gray2);
    }

    &__checkbox {
        appearance: none;
    }

    &__checked-icon {
        position: absolute;
        left: -207px;
        top: 10px;
        z-index: 400;
    }

    &__agreement {
        color: var(--brand-color-gray2);
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        padding-left: 37px;
        padding-top: 2px;
    }

    &__policy input[type='checkbox'] {
        background: var(--brand-color-white);
        margin: 0;
        display: flex;
        justify-content: space-evenly;
        position: absolute;
        appearance: none;
        border: 1.8px solid var(--brand-color-black);
        border-radius: 2px;
        width: 16px;
        height: 15px;
        top: 6px;
        left: -210px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__policy input[type='checkbox']:checked {
        background-color: var(--brand-color-blue);
        border: var(--brand-color-blue);
    }

    &__checkbox:checked {
        z-index: 45;
    }

    &__policy-link {
        color: var(--brand-color-blue);
        text-decoration: underline;
    }

    &__button-send-order {
        width: 200px;
        height: 50px;
        font-family: 'Roboto', sans-serif;
        background-color: var(--brand-color-blue);
        color: var(--brand-color-white);
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        text-align: center;
        letter-spacing: 0.03em;
        border: none;
        cursor: pointer;
        padding: 10px 41px 10px 42px;
        border-radius: 4px;
        left: 124px;
        top: 416px;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
