.header {
    background-color: var(--brand-color-white);
    display: flex;
    padding: 24px 0px 25px;
    border: 1px solid #ececec;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 93px;
        outline: none;
    }

    &__nav-list {
        display: flex;
        gap: 46px;
    }

    &__nav-item {
        position: relative;
    }

    &__nav-link {
        color: var(--brand-color-black2);
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        text-decoration: none;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        outline: none;
    }

    &__nav-link:is(:hover, :focus) {
        color: var(--brand-color-blue);
    }

    &__nav-active-link {
        color: var(--brand-color-blue);
    }

    &__nav-active-link::after {
        content: '';
        background-color: var(--brand-color-blue);
        width: 100%;
        height: 4px;
        display: flex;
        justify-content: center;
        position: absolute;
        top: 48px;
        border-radius: 2px;
    }

    &__contacts {
        display: flex;
        gap: 50px;
    }

    &__contacts-link {
        color: var(--brand-color-gray2);
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        text-decoration: none;
        outline: none;
        display: flex;
        align-items: center;
        fill: currentColor;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__contacts-link:is(:hover, :focus) {
        color: var(--brand-color-blue);
        transition-property: color;
    }

    &__contacts-link-icon {
        margin-right: 10px;
        fill: var(--brand-color-gray3);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__contacts-link:is(:focus, :hover) .header__contacts-link-icon {
        fill: var(--brand-color-blue);
    }
}
