.logo {
    color: var(--brand-color-blue);
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-decoration: none;
    outline: none;
    @include desktop {
        font-size: 26px;
        line-height: 1.19;
    }

    &__studio {
        color: var(--brand-color-black);
    }

    &__studio--white {
        color: var(--brand-color-white);
    }
}
