.main-section {
    max-height: 400px;
    max-width: 100vw;
    color: var(--brand-color-white);
    background-color: var(--brand-color-dark);
    background-image: linear-gradient(
            to bottom,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
        ),
        url(../images/background-image-mob-x1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    display: flex;
    justify-content: center;

    @include tablet {
        background-image: linear-gradient(
                to bottom,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)
            ),
            url(../images/background-image-tab-x1.jpg);
    }

    @include desktop {
        max-height: 600px;
        background-image: linear-gradient(
                to bottom,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)
            ),
            url(../images/background-image-desk.jpg);
        max-width: 1600px;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        padding-top: 106px;
        padding-bottom: 106px;
    }

    &__title {
        font-style: normal;
        font-weight: 900;
        font-size: 26px;
        line-height: 1.62;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: var(--brand-color-white);

        @include desktop {
            font-size: 44px;
            line-height: 1.36;
        }
    }

    &__button {
        background-color: var(--brand-color-blue);
        color: var(--brand-color-white);
        font-style: normal;
        font-weight: 500;
        line-height: 1.62;
        text-align: center;
        letter-spacing: 0.03em;
        border: none;
        cursor: pointer;
        padding: 10px 41px 10px 42px;
        border-radius: 4px;
        transition-property: background-color, color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__button:is(:hover, :focus, :active) {
        outline: none;
        background-color: var(--brand-color-white);

        color: var(--brand-color-blue);
    }
}
