.team {
    text-align: center;
    background-color: var(--brand-color-gray);

    &__list {
        display: flex;
        gap: 30px;
    }

    &__item {
        background-color: var(--brand-color-white);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
            0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
    }

    &__image {
        display: block;
    }

    &__name {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
        letter-spacing: 0.03em;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    &__job {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--brand-color-gray2);
        padding-bottom: 16px;
    }
}
