body {
    font-family: 'Roboto', sans-serif;
    color: var(--brand-color-black2);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

ul {
    list-style-type: none;
}

.caption {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}
