:root {
  --brand-color-white: rgba(255, 255, 255, 1);

  --brand-color-gray: rgba(245, 244, 250, 1);

  --brand-color-gray2: rgba(117, 117, 117, 1);

  --brand-color-dark: rgba(47, 48, 58, 1);

  --brand-color-black: rgba(0, 0, 0, 1);

  --brand-color-black2: rgba(33, 33, 33, 1);

  --brand-color-blue: rgba(33, 150, 243, 1);

  --brand-color-gray3: rgba(175, 177, 184, 1);
}
